html, body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100%;
}

.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1; /* Ensures the video is behind all content */
}

.video-background img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the entire area */
}



header, main {
  position: relative;
}

.start, .stop {
  width: 234px; 
  height: 58px; 
  background-size: cover; 
  background-color: transparent; 
  border: none; 
  cursor: pointer; 
  border-radius: 20px;
  position: absolute;  /* any place for buttons */
  top: 199px;
  left: 343px; 
}

.start {
  background-image: url('https://i.imgur.com/TfggW6V.jpeg'); 
}

.stop {
  background-image: url('https://i.imgur.com/N05wlxw.jpeg'); 
}

.main {
  position: relative; /* moved it from the top */
  top: 20px; 
}

.start:active, .stop:active {
  transform: scale(.88);
}

.full-card {
  width: 180px;
  height: 180px;
  position: relative;
  margin: 10px; 
  flex-basis: calc(25% - 20px); 
}

.front-card, .card {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; 
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em; 
  cursor: pointer;
  transform-style: preserve-3d; /* transform 3D */
  transition: transform 0.6s; 
}

.front-card {
  background-image: url('https://i.imgur.com/AGFLpuC.jpeg');
  background-size: cover;
  background-color: transparent;
  border: none;
}

.card {
  background-color: Lime;
  border: 3px solid Navy;
  transform: rotateY(180deg);
}

.full-card.flip .front-card {
  transform: rotateY(180deg);
}

.full-card.flip .card {
  transform: rotateY(0deg);
}

header {
  display: flex;
  flex-direction: column; /* column to header */
  align-items: center;
  font-size: 1.2em;
  font-weight: bold;
  color: #61aab5f5;
  margin-bottom: 40px;
  text-align: center;
}

#result-display {
  min-height: 20px;
}

h1 {
  font-size: 5em;
  font-weight: bold;
  font-family: "Audiowide", sans-serif;
  font-style: normal;
  color: #6fa0a7f5; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}

.container {
  display: flex;
  flex-wrap: wrap; /* can make column for different number of cards */
  justify-content: center;
  align-items: center;
  max-width: 760px; 
}

.timer, .error-counter, .move-counter {
  font-size: 2em;
  color: #fff;
  font-family: "Audiowide", sans-serif;
  text-align: center;
  min-width: 80px;
  margin: 0 10px;
}

#timer-wrapper, #error-wrapper, #move-wrapper {
  display: flex;
  align-items: center;
}

#time-label, #error-label, #move-label {
  font-size: 2em;
  color: #ffffff;
  font-family: "Audiowide", sans-serif;
  margin-right: 10px;
}

.game-status {
  font-size: 2.5em;
  color: #d0ff59;
  font-family: "Audiowide", sans-serif;
  text-align: center;
  margin-top: 20px;
}

body {
  display: flex;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.rules {
  width: 400px;
  padding: 60px;
  position: fixed;
  top: 200px;
  left: 0;
  height: 100%;
  font-family: "Audiowide", sans-serif;
  font-size: 2.5em;
  color: #000000;
}

.rules h2 {
  margin-top: 0;
}

.rules ul {
  padding: 0;
}

.rules li {
  margin-bottom: 10px;
}

@media (max-width: 1920px) {
  .card, .full-card, .front-card {
    width: 120px;
    height: 120px;
    top: -30px;
    margin: 10px;
    flex-basis: calc(20% - 15px);
  }

  .container {
    max-width: 700px;
  }

  .start, .stop{
    left: 200px;
    top: 180px;
  }
  
  h1 {
    font-size: 4em;
  }

  .rules {
    font-size: 1.7em;
  }
}



